<!-- Header bar -->
<div class="wrap-header-bar">
  <div class="header-bar header-bar-white">
    <div class="grid-item text-left grid-item-1">
      <!-- Menu button -->
      <div class="menu-button">
        <div class="lines">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <span class="vertical-line"></span>
            <span class="text">
              Menu
            </span>
      </div>
      <!-- end Menu button -->

      <!-- Langs -->
      <!--<div class="langs">
        <a href="#">en</a>
        <span class="line">/</span>
        <a href="#">ru</a>
      </div>-->
      <!-- end Langs -->
    </div>

    <!-- Logo -->
    <div class="grid-item text-center grid-item-2">
      <a href="/" class="logo">
        Tattooist
      </a>
    </div>
    <!-- end Logo -->

    <!-- Right menu -->
    <div class="grid-item grid-item-3">
      <div class="wrap">
        <ul>
          {% for link in linklists.top-menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="search">
          <div class="icon-search"></div>
        </div>

        <div class="cart">
          <span class="text">
            Cart
          </span>
          <span class="number">{{ cart.item_count }}</span>
        </div>
      </div>
    </div>
    <!-- end Right menu -->
  </div>
</div>
<!-- end Header bar -->