{% form 'reset_customer_password' %}

<div class="section-header">
  <h4 class="section-header__title">Change password</h4>
</div>

{{ form.errors | default_errors }}

<label for="ResetPassword">New Password</label>
<input type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>

<label for="PasswordConfirmation">Confirm</label>
<input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

{% endform %}
