<!-- Search sidebar -->
<div class="search-sidebar" id="search">
  <div class="sidebar-wrapper">
    <div class="form-search">
      <form action="/search" method="get" role="search">
        <input type="hidden" name="view" value="json">
        <input type="hidden" name="type" value="product">
        <button type="submit">
          <span class="icon icon-search"></span>
        </button>
        <input type="text" name="q" placeholder="Hello Ye">
      </form>
    </div>
    <div class="results">
      <ul></ul>
    </div>
    <div class="block_total">
      <a href="#" class="btn"></a>
    </div>
  </div>
</div>
<!-- end Search sidebar -->
