<section class="account">
  <div class="wrap-head">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#">Home</a>
          <span class="line">/</span>
        </li>
        <li>My account</li>
      </ul>
    </div>
    <!-- end Breadcrumbs -->

    <div class="wrap-link-tabs">
      <div class="link-tabs">
        <ul>
          <li class="current">
            <a href="#">Change password</a>
          </li>
          <li>
            <a href="/account/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Tabs content -->
  <div class="tab tab-active">
    <div class="form-change-password">
      <div class="left">
        <div class="inner-left">
          {% form 'reset_customer_password' %}

          <label for="ResetPassword">New Password</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors | length > 0 %} class="error"{% endif %}>

          <label for="PasswordConfirmation">Confirm</label>
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors | length > 0 %} class="error"{% endif %}>

          <div class="wrap_btn">
            <input type="submit" class="btn" value="Save">
          </div>

          {% endform %}
        </div>
      </div>
    </div>
  </div>
  <!-- end Tabs content -->


</section>







